html, body {
  height: 100%;
  margin: 0;
}

.workspace {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 100%;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 18rem;
  margin-right: 1rem;
  padding: 1rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.input-section-header {
  margin-bottom: 0.25rem;
  font-weight: bold;
}

#textInput {
  height: 6rem;
}

label {
  margin-bottom: 0.25rem;
}

#glyphsCanvas {
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
}

#webglCanvas {
  height: calc(100% - 2rem);
  border: 1px solid black;
  margin-top: 1rem;
}

.editor {
  width: 38rem;
  height: 80%;
  margin: 1rem 1rem 0 0;
}

.hidden {
  overflow: hidden;
  width: 0;
}
