html, body {
  height: 100%;
  margin: 0;
}

.workspace {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 100%;
}

.workspace div {
  margin-right: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 1rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-section-header {
  font-weight: bold;
}

.outputs {
  height: 100%;
}

label {
  margin-top: 0.25rem;
}

#glyphsCanvas {
  width: 16rem;
  height: 16rem;
  border: 1px solid black;
}

#webglCanvas {
  height: calc(100% - 4px);
  border: 1px solid black;
}

.editor {
  width: 33rem;
  height: 30rem;
}

.hidden {
  overflow: hidden;
  width: 0;
}
